<!-- ABOUT -->
<div class="container">
    <div class="title-box">
        <h1 class="title">Wie zijn we</h1>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 bottom-padding">
            <p class="lead"><strong>VBS De Klimtoren is een basisschool (kleuter- en lagere school) in het hartje van
                Jabbeke.</strong></p>

            <p>Onze school heeft momenteel 414 leerlingen. <br/>
                144 kleuters en 270 kinderen in de lagere school.</p>

            <p>Onze schoolbrochure (PDF) kan u <a href="/content/documents/2015/schoolbrochure2015-2016.pdf"
                                                  target="_blank">hier</a> lezen.</p>
            <a ui-sref="info.about" class="btn btn-default">Lees meer</a>
        </div>

        <div class="col-sm-6 col-md-6 bottom-padding">
            <address class="lead">
                <strong>VBS De Klimtoren</strong><br/>
                Kapellestraat 16<br/>
                8490 Jabbeke<br/>
                <br/>
                <a href="tel:+3250812714"><i class="fa fa-phone"></i> +32 (0)50 81 27 14</a><br/>
                <a href="mailto:info@klimtoren.be"><i class="fa fa-envelope-o"></i> info@klimtoren.be</a>
            </address>
            <a ui-sref="info.contact" class="btn btn-default">Meer contact</a>
        </div>
        <!-- .employee -->
    </div>

    <div class="carousel-box bottom-padding">
        <div class="clearfix"></div>

        <div class="row">
            <div class="carousel no-responsive gallery" fancybox>
                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/team-1.jpg"
                       title="Ons kleuterteam">
                        <img class="replace-2x" src="content/img/teasers/team-1.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/team-2.jpg"
                       title="Het team van de eerste graad">
                        <img class="replace-2x" src="content/img/teasers/team-2.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/team-3.jpg"
                       title="De collega's van de tweede graad">
                        <img class="replace-2x" src="content/img/teasers/team-3.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/team-4.jpg"
                       title="De leerkrachten van de derde graad">
                        <img class="replace-2x" src="content/img/teasers/team-4.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/team-5.jpg"
                       title="Het zorgteam van De Klimtoren">
                        <img class="replace-2x" src="content/img/teasers/team-5.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/team-6.jpg"
                       title="Het team sport<br/> (meester Geert staat niet op de foto)">
                        <img class="replace-2x" src="content/img/teasers/team-6.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!-- END ABOUT -->

<!-- SERVICES -->
<div class="container">
    <div class="row services">
        <div class="col-sm-12 col-md-12">
            <div class="title-box">
                <h1 class="title">Een zorgbrede school</h1>
            </div>
        </div>

        <div class="big-services-box col-sm-4 col-md-4">
            <div>
                <div class="big-icon bg" data-appear-animation="wobble"><i class="fa fa-child"></i>
                </div>
                <h4 class="title" data-appear-animation="bounceInLeft">Een unieke school</h4>

                <div class="text-small" data-appear-animation="bounceInLeft">
                    Jij bent jij<br/>
                    Jouw unieke zelf<br/>
                    Met jouw talenten<br/>
                    Met jouw noden<br/>
                    Wij helpen je graag<br/>
                    Wij ondersteunen<br/>
                    Wij dagen uit<br/>
                    Wij maken het makkelijker<br/>
                    Wij maken het moeilijker<br/>
                    Wij doen het nog eens<br/>
                    Wij houden rekening met <strong>élk</strong> <i class="fa fa-child"></i>
                    <div class="clearfix"></div>
                    <!--<br>
                    <button class="btn btn-default" ui-sref="info.care">Lees meer</button>-->
                </div>
            </div>
        </div>
        <!-- .services-box-two -->

        <div class="big-services-box col-sm-4 col-md-4">
            <div>
                <div class="big-icon bg" data-appear-animation="wobble"><i class="fa fa-heart"></i>
                </div>
                <h4 class="title" data-appear-animation="bounceInUp">Een warme school</h4>

                <div class="text-small" data-appear-animation="bounceInUp">
                    Jij bent welkom, wie je ook bent<br />
                    Jij bent belangrijk voor ons<br />
                    Jij telt mee<br />
                    Een knuffel<br />
                    Een vriendelijk woord<br />
                    Een luisterend oor<br />
                    Een lach<br />
                    Een knipoog<br />
                    Een dikke duim<br />
                    Een extra babbel<br />
                    Wij dragen <strong>jou</strong> een warm <i class="fa fa-heart"></i> toe.
                    <div class="clearfix"></div>
                    <!--<br>
                    <button class="btn btn-default">Lees meer</button>-->
                </div>
            </div>
        </div>
        <!-- .services-box-two -->

        <div class="big-services-box col-sm-4 col-md-4">
            <div>
                <div class="big-icon bg" data-appear-animation="wobble"><i class="fa fa-smile-o"></i></div>
                <h4 class="title" data-appear-animation="bounceInRight">Een leuke! school</h4>

                <div class="text-small" data-appear-animation="bounceInRight">
                    Wij zijn een team dat enthousiasme uitstraalt<br/>
                    Wij zijn een team met mensen die hun job graag doen<br/>
                    Wij willen leren leuk maken<br/>
                    Lachen, gieren<br/>
                    Plezier maken<br/>
                    Muziek maken<br/>
                    Dansen<br/>
                    Zingen<br/>
                    Spelen<br/>
                    Ontdekken, beleven<br/>
                    <strong>Jij</strong> maakt ons <i class="fa fa-smile-o"></i>
                    <div class="clearfix"></div>
                    <!--<br>
                    <button class="btn btn-default">Lees meer</button>-->
                </div>
            </div>
        </div>
        <!-- .services-box-two -->
    </div>
    <br><br>
</div>
<!-- END SERVICES -->

<!-- PHOTOS -->
<div class="container">
    <div class="row">
        <div class="title-box">
            <h1 class="title">Foto's</h1>
        </div>
    </div>
</div>


<div class="full-width-box bottom-padding cm-padding-bottom-36">

    <div class="fwb-bg band-2" blur>
        <div class="overlay"></div>
    </div>

    <div class="container">
        <div class="portfolio">
            <div class="row ">
                <div class="work-element col-xs-12 col-sm-3 col-md-3" data-ng-repeat="collection in vm.collections">
                    <a data-ng-href="{{collection.href}}" class="work" target="_blank">
                        <img class="replace-2x" data-ng-src="{{collection.preview}}" width="270" height="197" alt="">
                        <span class="shadow"></span>

                        <div class="bg-hover"></div>
                        <div class="work-title">
                            <h3 class="title">Schooljaar {{collection.name}}</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PHOTOS -->

<!-- CAMPAIGNS -->
<div class="container">
    <div class="row">
        <div class="blog col-sm-12 col-md-12">
            <div class="title-box">
                <h1 class="title">
                    Laatste nieuwsbrieven
                </h1>
            </div>
            <article class="post col-sm-12 col-md-4" data-ng-repeat="campaign in vm.campaigns">
                <h2 class="entry-title"><a data-ng-href="{{campaign.archive_url}}" target="_blank"
                                           data-ng-bind="campaign.settings.subject_line"></a></h2>

                <footer class="entry-meta">
                    gepost door <a class="autor-name" data-ng-href="mailto:{{campaign.settings.reply_to}}"
                       data-ng-bind="campaign.settings.from_name"></a>
                    <br/>
                    <span class="time">gepubliceerd op {{campaign.create_time | date : 'dd.MM.yyyy'}}</span>

                </footer>
            </article>
            <!-- .post -->
        </div>
    </div>
</div>
<!-- END CAMPAIGNS -->

<!-- TESTIMONIAL -->
<div class="full-width-box bottom-padding">
    <div class="band-1" blur>
        <div class="overlay"></div>
    </div>

    <div class="container">
        <blockquote class="testimonial">
            <div class="col-sm-3">
                <img src="content/img/testimonial-img.png" border="0">
            </div>
            <div class="col-sm-9">
                <h2 class="white">We willen élk kind STERKER maken,<br /> op zijn tempo, op alle vlakken.</h2>
                <footer class="white">REBEKKA BUYSE | DIRECTEUR - VBS DE KLIMTOREN</footer>
            </div>
        </blockquote>
    </div>
</div>
<!-- END TESTIMONIAL -->


<!-- PARTNERS / SOCIAL BOX -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 promo-partners bottom-padding">
            <div class="title-box">
                <h2 class="title">Onze partners</h2>
            </div>
            <div class="row manufactures manufactures-list">
                <div class="make-wrapper">
                    <a href="#" class="make">
                        <img class="replace-2x" src="content/img/partners/exentra.png" width="128" height="128"
                             alt="">
                    </a>
                </div>
                <!--

                            -->
                <div class="make-wrapper">
                    <a href="#" class="make">
                        <img class="replace-2x" src="content/img/partners/kiva.png" width="128" height="128"
                             alt="">
                    </a>
                </div>
                <!--

                            -->
                <div class="make-wrapper">
                    <a href="#" class="make">
                        <img class="replace-2x" src="content/img/partners/clb.png" width="128" height="128"
                             alt="">
                    </a>
                </div>
            </div>

            <p><strong>Exentra</strong> is hét expertisecentrum rond begaafdheidsonderzoek. Onze school wordt gecoacht
                om nog sterker te kunnen differentiëren voor élk kind.</p>

            <p><strong>KiVa</strong> is het enige wetenschappelijk onderbouwd anti-pestprogramma. Het bewees al zijn
                effect in Finland en Nederland. Kinderen leren dat groepsdynamiek bepalend is voor de fijne sfeer op
                school.</p>

            <p><strong>CLB</strong> Brugge(n) is het Centrum voor LeerlingBegeleiding dat onze school bijstaat. Het CLB
                is aanwezig bij zorgoverleggen, gaat gesprekken aan met ouders, leerlingen en leerkrachten. Ze staan ook
                in voor het gratis medisch onderzoek.</p>
        </div>
        <!-- .promo-partners -->

        <div class="col-sm-12 col-md-6">
            <div id="fb-root"></div>

            <div class="title-box">
                <a href="http://www.facebook.com/vbsdeklimtoren" target="_blank"
                   class="btn btn-info">Alle berichten op <span class="fa fa-facebook"></span></a>

                <h2 class="title">Laatste <i class="fa fa-facebook"></i> berichten</h2>
            </div>
            <div class="text-center">
                <div class="fb-page cm-margin-bottom" data-width="500"
                     data-href="{{vm.facebookurl}}"
                     data-hide-cover="false"
                     data-show-facepile="true" data-show-posts="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/vbsdeklimtoren">
                            <a href="https://www.facebook.com/vbsdeklimtoren">VBS De Klimtoren</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PARTNERS / SOCIAL BOX -->


