<!--<div class="alert alert-warning fade in " style="position:fixed;bottom: 10px;right:20px;z-index:99999;box-shadow: 5px 5px 10px rgba(0,0,0,.32);">
    <i class="fa fa-star alert-icon"></i>
    <button type="button" class="close" data-dismiss="alert"> ×</button>
    <span class="lead">De nieuwe schoolbrochure voor 2016-2017 staat online. U kan ze <a
            href="/content/documents/2016/schoolbrochure2016-2017.pdf" style="color:#fff; text-decoration:underline;"
            target="_blank">hier</a> lezen.</span>
</div>-->


<!-- TESTIMONIAL -->
<div class="full-width-box bottom-padding">
    <div class="band-1" blur>
        <div class="overlay"></div>
    </div>

    <div class="container">
        <blockquote class="testimonial">
            <div class="col-sm-3">
                <img src="content/img/testimonial-img.png" border="0">
            </div>
            <div class="col-sm-9">
                <h2 class="white">We willen élk kind STERKER maken,<br/> op zijn tempo, op alle vlakken.</h2>

                <h2 class="white">We willen élk kind laten GENIETEN van het leren.</h2>
                <footer class="white">REBEKKA BUYSE | DIRECTEUR - VBS DE KLIMTOREN</footer>
            </div>
        </blockquote>
    </div>
</div>
<!-- END TESTIMONIAL -->


<!-- ABOUT -->
<div class="container">
    <div class="packages bottom-padding bottom-padding-mini">
        <div class="row">

            <div class="col-sm-4 col-md-4">
                <div class="package">
                    <div class="title"><a ui-sref="info.about">Onze school</a></div>
                    <div class="price-box">
                        <div class="icon border bg-white circle pull-right">
                            <span livicon data-n="question" data-s="62" data-c="#f89406" data-hc="0"
                                  id="livicon-6"></span>
                        </div>
                        <p class="lead"><strong>VBS De Klimtoren is een basisschool in het hartje van
                            Jabbeke.</strong></p>

                        <p class="description">Onze school heeft momenteel 440 leerlingen.</p>

                        <p>Onze schoolbrochure (PDF) kan u <a href="/content/documents/2016/schoolbrochure2016-2017.pdf"
                                                              target="_blank">hier</a> lezen.</p>
                    </div>
                    <div class="bottom-box">
                        <a ui-sref="info.about" class="more">Lees meer <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                <!-- .package -->
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="package">
                    <div class="title"><a ui-sref="info.contact">Contact</a></div>
                    <div class="price-box">
                        <div class="icon border bg-white circle pull-right">
                            <span livicon data-n="paper-plane" data-s="62" data-c="#f89406" data-hc="0"
                                  id="livicon-7"></span>
                        </div>
                        <address class="lead">
                            <strong>VBS De Klimtoren</strong><br/>
                            Kapellestraat 16<br/>
                            8490 Jabbeke<br/>
                            <br/>
                            <a href="tel:+3250812714"><i class="fa fa-phone"></i> +32 (0)50 81 27 14</a><br/>
                            <a href="mailto:info@klimtoren.be"><i class="fa fa-envelope-o"></i> info@klimtoren.be</a>
                        </address>
                    </div>
                    <div class="bottom-box">
                        <a ui-sref="info.contact" class="more">Lees meer <span class="fa fa-angle-right"></span></a>


                    </div>
                </div>
                <!-- .package -->
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="package">
                    <div class="title">
                        <a href="#">
                            Openingsuren
                            <div class="icon border bg-white circle small pull-right">
                            <span livicon data-n="clock" data-s="25" data-c="#f89406" data-hc="0"
                                  id="livicon-8"></span>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="price-box">
                        <table class="table">
                            <tr>
                                <td>maandag</td>
                                <td>08.40 - 11.50</td>
                                <td>13.15 - 16.00</td>
                            </tr>
                            <tr>
                                <td>dinsdag</td>
                                <td>08.40 - 11.50</td>
                                <td>13.15 - 16.00</td>
                            </tr>
                            <tr>
                                <td>woensdag</td>
                                <td>08.40 - 11.30</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>donderdag</td>
                                <td>08.40 - 11.50</td>
                                <td>13.15 - 16.00</td>
                            </tr>
                            <tr>
                                <td>vrijdag</td>
                                <td>08.40 - 11.50</td>
                                <td>13.15 - 15.00</td>
                            </tr>
                        </table>

                    </div>
                    <div class="bottom-box">
                        <a href="#" class="more">Lees meer <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                <!-- .package -->
            </div>
        </div>
    </div>

    <div class="title-box">
        <h3 class="title">Ons team</h3>
    </div>

    <div class="carousel-box bottom-padding">
        <div class="clearfix"></div>

        <div class="row bottom-padding-mini">
            <div class="carousel no-responsive gallery" fancybox>
                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/kleuter-sq.jpg"
                       title="Ons kleuterteam">
                        <img class="replace-2x" src="content/img/teasers/kleuter-sq.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/1egraad-sq.jpg"
                       title="Het team van de eerste graad">
                        <img class="replace-2x" src="content/img/teasers/1egraad-sq.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/2egraad-sq.jpg"
                       title="De collega's van de tweede graad">
                        <img class="replace-2x" src="content/img/teasers/2egraad-sq.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/3egraad-sq.jpg"
                       title="De leerkrachten van de derde graad">
                        <img class="replace-2x" src="content/img/teasers/3egraad-sq.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/zorg-sq.jpg"
                       title="Het zorgteam van De Klimtoren">
                        <img class="replace-2x" src="content/img/teasers/zorg-sq.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a class="gallery-images" rel="fancybox" href="content/img/teasers/sport-sq.jpg"
                       title="Het team sport<br/> (juf Mieke staat niet op de foto)">
                        <img class="replace-2x" src="content/img/teasers/sport-sq.jpg" width="270"
                             height="135" alt="">
                        <span class="bg-images"><i class="fa fa-search"></i></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a ui-sref="info.team" class="btn btn-default">Lees meer</a>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!-- END ABOUT -->


<!-- SERVICES -->
<div class="container">
    <div class="row services">
        <div class="col-sm-12 col-md-12">
            <div class="title-box">
                <h1 class="title">Een zorgbrede school</h1>
            </div>
        </div>

        <div class="big-services-box col-sm-4 col-md-4">
            <div>
                <div class="big-icon bg" data-appear-animation="wobble"><i class="fa fa-child"></i>
                </div>
                <h4 class="title" data-appear-animation="bounceInLeft">Een unieke school</h4>

                <div class="text-small" data-appear-animation="bounceInLeft">
                    Jij bent jij<br/>
                    Jouw unieke zelf<br/>
                    Met jouw talenten<br/>
                    Met jouw noden<br/>
                    Wij helpen je graag<br/>
                    Wij ondersteunen<br/>
                    Wij dagen uit<br/>
                    Wij maken het makkelijker<br/>
                    Wij maken het moeilijker<br/>
                    Wij doen het nog eens<br/>
                    Wij houden rekening met <strong>élk</strong> <i class="fa fa-child"></i>

                    <div class="clearfix"></div>
                    <!--<br>
                    <button class="btn btn-default" ui-sref="info.care">Lees meer</button>-->
                </div>
            </div>
        </div>
        <!-- .services-box-two -->

        <div class="big-services-box col-sm-4 col-md-4">
            <div>
                <div class="big-icon bg" data-appear-animation="wobble"><i class="fa fa-heart"></i>
                </div>
                <h4 class="title" data-appear-animation="bounceInUp">Een warme school</h4>

                <div class="text-small" data-appear-animation="bounceInUp">
                    Jij bent welkom, wie je ook bent<br/>
                    Jij bent belangrijk voor ons<br/>
                    Jij telt mee<br/>
                    Een knuffel<br/>
                    Een vriendelijk woord<br/>
                    Een luisterend oor<br/>
                    Een lach<br/>
                    Een knipoog<br/>
                    Een dikke duim<br/>
                    Een extra babbel<br/>
                    Wij dragen <strong>jou</strong> een warm <i class="fa fa-heart"></i> toe.
                    <div class="clearfix"></div>
                    <!--<br>
                    <button class="btn btn-default">Lees meer</button>-->
                </div>
            </div>
        </div>
        <!-- .services-box-two -->

        <div class="big-services-box col-sm-4 col-md-4">
            <div>
                <div class="big-icon bg" data-appear-animation="wobble"><i class="fa fa-smile-o"></i></div>
                <h4 class="title" data-appear-animation="bounceInRight">Een leuke! school</h4>

                <div class="text-small" data-appear-animation="bounceInRight">
                    Wij zijn een team dat enthousiasme uitstraalt<br/>
                    Wij zijn een team met mensen die hun job graag doen<br/>
                    Wij willen leren leuk maken<br/>
                    Lachen, gieren<br/>
                    Plezier maken<br/>
                    Muziek maken<br/>
                    Dansen<br/>
                    Zingen<br/>
                    Spelen<br/>
                    Ontdekken, beleven<br/>
                    <strong>Jij</strong> maakt ons <i class="fa fa-smile-o"></i>

                    <div class="clearfix"></div>
                    <!--<br>
                    <button class="btn btn-default">Lees meer</button>-->
                </div>
            </div>
        </div>
        <!-- .services-box-two -->
    </div>
    <br><br>
</div>
<!-- END SERVICES -->

<!-- PHOTOS -->
<div class="container">
    <div class="row">
        <div class="title-box">
            <h1 class="title">Foto's</h1>
        </div>
    </div>
</div>


<div class="full-width-box bottom-padding cm-padding-bottom-36">

    <div class="fwb-bg band-2" blur>
        <div class="overlay"></div>
    </div>

    <div class="container">
        <div class="portfolio">
            <div class="row ">
                <div class="work-element col-xs-12 col-sm-3 col-md-3" data-ng-repeat="collection in vm.collections">
                    <a data-ng-href="{{collection.href}}" class="work" target="_blank">
                        <img class="replace-2x" data-ng-src="{{collection.preview}}" width="270" height="197" alt="">
                        <span class="shadow"></span>

                        <div class="bg-hover"></div>
                        <div class="work-title">
                            <h3 class="title">Schooljaar {{collection.name}}</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PHOTOS -->

<!-- CAMPAIGNS -->
<div class="container">
    <div class="row">
        <div class="blog col-sm-12 col-md-12">
            <div class="title-box">
                <h1 class="title">
                    Laatste nieuwsbrieven
                </h1>
            </div>
            <article class="post col-sm-12 col-md-4" data-ng-repeat="campaign in vm.campaigns | orderBy:'-send_time'">
                <h2 class="entry-title"><a data-ng-href="{{campaign.archive_url}}" target="_blank"
                                           data-ng-bind="campaign.settings.subject_line"></a></h2>

                <footer class="entry-meta">
                    gepost door <a class="autor-name" data-ng-href="mailto:{{campaign.settings.reply_to}}"
                                   data-ng-bind="campaign.settings.from_name"></a>
                    <br/>
                    <span class="time">gepubliceerd op {{campaign.send_time | date : 'dd.MM.yyyy'}}</span>

                </footer>
            </article>
            <!-- .post -->
        </div>
    </div>
</div>
<!-- END CAMPAIGNS -->

<!-- PARTNERS / SOCIAL BOX -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 promo-partners bottom-padding">
            <div class="title-box">
                <h2 class="title">Onze partners</h2>
            </div>
            <div class="row manufactures manufactures-list">
                <div class="make-wrapper">
                    <a href="http://www.exentra.be/" target="_blank" class="make">
                        <img class="replace-2x" src="content/img/partners/exentra.png" width="128" height="128"
                             alt="">
                    </a>
                </div>
                <!--

                            -->
                <div class="make-wrapper">
                    <a href="http://www.kivaschool.be" target="_blank" class="make">
                        <img class="replace-2x" src="content/img/partners/kiva.png" width="128" height="128"
                             alt="">
                    </a>
                </div>
                <!--

                            -->
                <div class="make-wrapper">
                    <a href="http://www.clbbrugge.be" target="_blank" class="make">
                        <img class="replace-2x" src="content/img/partners/clb.png" width="128" height="128"
                             alt="">
                    </a>
                </div>
            </div>

            <p><a href="http://www.exentra.be/" target="_blank"><strong>Exentra</strong></a> is hét expertisecentrum
                rond begaafdheidsonderzoek. Onze school wordt gecoacht
                om nog sterker te kunnen differentiëren voor élk kind.</p>

            <p><a href="http://www.kivaschool.be" target="_blank"><strong>KiVa</strong></a> is het enige
                wetenschappelijk onderbouwd anti-pestprogramma. Het bewees al zijn
                effect in Finland en Nederland. Kinderen leren dat groepsdynamiek bepalend is voor de fijne sfeer op
                school.</p>

            <p><a href="http://www.clbbrugge.be" target="_blank"><strong>CLB Brugge(n)</strong></a> is het Centrum voor
                LeerlingBegeleiding dat onze school bijstaat. Het CLB
                is aanwezig bij zorgoverleggen, gaat gesprekken aan met ouders, leerlingen en leerkrachten. Ze staan ook
                in voor het gratis medisch onderzoek.</p>
        </div>
        <!-- .promo-partners -->

        <div class="col-sm-12 col-md-6">
            <div id="fb-root"></div>

            <div class="title-box">
                <a href="http://www.facebook.com/vbsdeklimtoren" target="_blank"
                   class="btn btn-info">Alle berichten op <span class="fa fa-facebook"></span></a>

                <h2 class="title">Laatste <i class="fa fa-facebook"></i> berichten</h2>
            </div>
            <div class="text-center">
                <div class="fb-page cm-margin-bottom" data-width="500"
                     data-href="{{vm.facebookurl}}"
                     data-hide-cover="false"
                     data-show-facepile="true" data-show-posts="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/vbsdeklimtoren">
                            <a href="https://www.facebook.com/vbsdeklimtoren">VBS De Klimtoren</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PARTNERS / SOCIAL BOX -->


